$text-dark-gray: #566474;
$text-black: #323232;
$text-light-gray: #9eaab7;

$box-shadow-color: #cbd4c2;

$background-color-1: #e8faed;
$background-color-2: #e8f4fa;
$background-gray: rgba(0, 0, 0, 0.8);