body {
  margin: 0px;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}

.calendar {
  height: calc(100vh - 100px);
  padding: 10px 20px 0px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}
