@import "styles/variables";

.marker {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 55px;
  height: 43px;
  padding: 10px;
  background-color: white;
  color: $text-dark-gray;

  span {
    font-weight: bold;
    color: $text-black;
  }
}
